<nav class="d-flex justify-content-center py-3 bg-dark">
    <ul id="navBar" class="nav nav-pills fs-5 fw-semibold">
        </li> <li class="nav-item">
            <a href="/contactos" class="nav-link">Contactos</a>
        </li>
        </li> <li class="nav-item">
            <a href="/info" class="nav-link">Información</a>
        </li>
    </ul>
</nav>
